.blog-section-blog {
  padding: 0 3.75rem;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

/* Grid 2 columns for blog post list */
.blog-section-blog__left .section-post__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8125rem;
}

@media (max-width: 639.98px) {
  .blog-section-blog__left .section-post__list {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
}

.blog-section-blog__left .section-post__item-views {
  color: #6b7280;
  font-size: 0.875rem;
  margin: 0.25rem 0 0.5rem;
}

.blog-trending {
  background: #ffffff;
  border: 1px solid #e8eef3;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 20px 0px rgba(7, 59, 111, 0.1);
  padding: 1.875rem;
}
.blog-trending__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-trending__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #111827;
}
.blog-trending__icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  opacity: 0.6;
}
.blog-trending__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-trending__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem;
  border-bottom: 1px solid #e5e7eb;
}

.blog-trending__index {
  font-weight: 700;
  font-size: 2.5rem;
  color: #cbd5e1;
  line-height: 1;
}
.blog-trending__body {
  display: flex;
  flex-direction: column;
}
.blog-trending__link {
  text-decoration: none;
  color: #111827;
  font-weight: 700;
  width: 18rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.blog-trending__link:hover {
  color: #2563eb;
}
.blog-trending__views {
  color: #6b7280;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
