.section-product {
  margin: 0rem 3.75rem;
  padding-top: 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-product__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-product__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 2rem; /* 32px */
  margin: 0rem;
  color: rgba(19, 127, 236, 1);
  border-bottom: 0.375rem solid rgba(19, 127, 236, 1);
}
.section-product__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 1.125rem; /* 18px */
  line-height: 1; /* 100% */
  letter-spacing: 0;
  text-align: center;
  width: 42.8125rem; /* 685px */
  height: 1.6875rem; /* 27px */
  opacity: 1;
  color: rgba(126, 132, 139, 1);
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 3.75rem;
}

.section-product__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.8125rem;
}

.section-product__item {
  background: #ffffff;
  border: 1px solid #e8eef3;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 20px 0px rgba(7, 59, 111, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  height: 29.6875rem;
}

.section-product__item-image {
  height: 19.375rem;
  overflow: hidden;
  width: 100%;
}

.section-product__item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-product__item-content {
  padding: 1.5rem 1rem;
}

.section-product__item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
  color: #111827;
}
.section-product__item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.section-product__item-cta {
  display: inline-block;
  padding: 0.75rem 1.34375rem;
  border-radius: 0.625rem;
  background: #0d6efd;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  border: 0;
}

.section-product__item-price {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  color: #000;
}

@media (max-width: 1280px) {
  .section-product__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .section-product__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .section-product__list {
    grid-template-columns: 1fr;
  }
}
