.section-data {
  padding: 4.25rem 8.25rem;
  background-color: rgba(220, 235, 255, 1);
}
.section-data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-data__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-data__item-number {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 3.125rem;
  font-weight: 900;
  color: rgba(19, 127, 236, 1);
}
.section-data__item-text {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(126, 132, 139, 1);
}
