*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 1vw;
  scroll-behavior: smooth;
}

body {
  font-family: "Shopee Display", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  vertical-align: baseline;
  position: relative;
  background: white;
  color: black;
}
* {
  font-family: "Shopee Display", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shopee Display", sans-serif;
}

@media (max-width: 767px) {
  html {
    font-size: 4.267vw;
  }
}

/* Custom scrollbar */
html::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
  width: 0.45rem;
}

html::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-brand, #d32131);
  border-radius: 1.5rem;
}

/* Hide scrollbar */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: currentColor !important;
}

/* Hide button Increase/decrease across all browsers */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

/* Hide button Increase/decrease on WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* swiper */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
