.single-post-detail {
  width: 100%;
  padding: 0 3.75rem;
}

.single-post__back {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-top: 1.875rem;
  padding-bottom: 3.75rem;
}

.single-post__back-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.single-post__title_back {
  margin: 0;
}

.single-post__header {
  position: relative;
  width: 100%;
  height: 31.25rem;
  overflow: hidden;
  border-radius: 1.25rem;
}

.single-post__banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-post__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.single-post__title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem 2.5rem;
  color: rgba(255, 255, 255, 1);
  width: 90rem;
}

.single-post__title {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5rem;
  margin: 0;
  margin-bottom: 1.875rem;
}

.single-post__meta {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.single-post--title__items {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.single-post__icon {
  font-size: 1.5rem;
}

.single-post__text {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0;
}
.single-post__content-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.875rem;
  margin: 0;
}

.single-post__paragraph {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  padding: 1.875rem 0;
  height: 100%;
}

.single-post-column {
  width: 0.625rem;
  background-color: rgba(19, 127, 236, 1);
}

.single-post__content {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  flex: 1;
}

.single-post__key__value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}
.single-post__quote-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
  color: rgba(0, 0, 0, 1);
}

.single-post__quote-kv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.single-post__kv-item-container {
  display: flex;
  align-items: flex-start;
  gap: 2.75rem;
}

.single-post__key-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.single-post__kv-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin: 0;
  width: 100%;
}
.single-post__kv-key {
  font-weight: 700;
}
.single-post__kv-value {
  font-weight: 500;
}

.single-post__quote--gallery {
  width: 100%;
}

.single-post__quote--gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.single-post__quote--gallery__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  width: 100%;
}

.single-post__gallery-item {
  overflow: hidden;
  border-radius: 1rem;
  margin: 0;
}

.single-post__gallery-item img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  display: block;
  transition: 0.4s ease;
}

.single-post__gallery-item:last-child:nth-child(odd) {
  grid-column: span 2;
}

.single-post__image-desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin: 0;
  font-style: italic;
  color: rgba(126, 132, 139, 1);
}

.single-post__quote-desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 3.875rem;
}
